@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100;400;700;900&display=swap");
.pagination-container ul, footer .contact-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form .selects-options label, main .total-results {
  font-size: 14px;
  color: #757575;
  font-weight: 700;
}

.pagination-container ul li .pagination, .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

main, header, footer, .character-card, .comic-card {
  display: flex;
  flex-direction: column;
}

.search-form, .results {
  display: flex;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  color: #151515;
  font-family: "Roboto", sans-serif;
  outline-color: #ed1d23;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay .loader {
  border: 8px solid transparent;
  border-top: 8px solid #ed1d23;
  border-bottom: 8px solid #ed1d23;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.button {
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #151515;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  background-color: #ed1d23;
}
.button:disabled {
  pointer-events: none;
}

.comic-card {
  width: calc(100% / 5 - 2 * 10px);
  margin: 0 10px 40px;
  cursor: pointer;
}
.comic-card .comic-img-container {
  margin-bottom: 20px;
}
.comic-card .comic-img-container .comic-img {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  transform: translateY(0);
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
}
.comic-card .comic-title {
  padding: 10px 10px 30px;
  font-size: 14px;
  transition: all 0.2s;
}
.comic-card:hover .comic-img-container .comic-img {
  transform: translateY(-10px);
}
.comic-card:hover .comic-title {
  color: #ed1d23;
}
@media (max-width: 660px) {
  .comic-card {
    width: calc(100% / 3 - 2 * 10px);
  }
}
@media (max-width: 360px) {
  .comic-card {
    width: 250px;
  }
}

.character-card {
  width: calc(100% / 5 - 2 * 10px);
  margin: 0 10px 40px;
  cursor: pointer;
}
.character-card .character-img-container {
  border-bottom: 4px solid #ed1d23;
  overflow: hidden;
}
.character-card .character-img-container .character-img {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  transform: scale(1);
}
.character-card .character-name {
  padding: 15px 20px 15px;
  font-size: 14px;
  transition: all 0.2s;
  height: 70px;
  background-color: #151515;
  color: #ffffff;
}
.character-card:hover .character-img-container .character-img {
  transform: scale(1.1);
}
.character-card:hover .character-name {
  background-color: #ed1d23;
}
@media (min-width: 1024px) {
  .character-card {
    width: calc(100% / 6 - 2 * 10px);
  }
}
@media (max-width: 880px) {
  .character-card {
    width: calc(100% / 4 - 2 * 10px);
  }
}
@media (max-width: 660px) {
  .character-card {
    width: calc(100% / 2 - 2 * 10px);
  }
}
@media (max-width: 360px) {
  .character-card {
    width: 250px;
  }
}

.search-result {
  display: flex;
  margin-bottom: 60px;
}
.search-result .search-img-container {
  display: flex;
  max-width: 350px;
  margin-right: 40px;
}
.search-result .search-img-container img {
  width: 100%;
  height: auto;
}
.search-result .search-info p {
  margin: 10px 5px 20px;
}
@media (max-width: 660px) {
  .search-result {
    flex-direction: column;
  }
}

footer {
  align-items: center;
  background-color: #151515;
  padding: 35px;
}
footer p {
  color: #ffffff;
}
footer .contact-links {
  width: 100px;
  padding-top: 10px;
}
footer .contact-links a {
  padding: 5px;
}
footer .contact-links a:hover, footer .contact-links a:visited {
  color: #ed1d23;
}
footer .contact-links a i {
  color: #ffffff;
  font-size: 22px;
}

header .logo-container {
  height: 50px;
  background-color: #151515;
  display: flex;
  justify-content: center;
}
header .logo-container h1 {
  color: #ffffff;
  font-family: "Bangers", cursive;
  background-color: #ed1d23;
  padding: 5px 15px;
  font-size: 48px;
  display: flex;
  align-items: center;
}
header .hero-image {
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 60px 75px 80px;
  position: relative;
}
main h2 {
  margin-bottom: 20px;
}
.results {
  margin: 50px 0;
}

.pagination-container {
  display: flex;
  width: 200px;
  align-self: center;
}
.pagination-container ul {
  width: 100%;
}
.pagination-container ul li {
  list-style: none;
}
.pagination-container ul li .pagination {
  width: 35px;
  height: 35px;
  font-size: 24px;
}
.pagination-container ul li .pagination i {
  color: #ffffff;
}

.search-form {
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.search-form .fieldset {
  border: none;
}
.search-form .input-text {
  margin-bottom: 10px;
}
.search-form .input-text label {
  position: relative;
}
.search-form .input-text label input[type=search] {
  border: none;
  border-bottom: 2px solid #151515;
  padding: 8px 35px;
  font-size: 22px;
  width: 450px;
}
@media (max-width: 660px) {
  .search-form .input-text label input[type=search] {
    width: 80%;
  }
}
.search-form .input-text label .icon-container {
  position: absolute;
  top: 0;
  left: 8px;
}
@media (max-width: 660px) {
  .search-form .input-text {
    width: 100%;
  }
}
.search-form .selects-options {
  margin-bottom: 10px;
}
.search-form .selects-options label {
  margin-right: 10px;
}
.search-form .selects-options label select {
  border: none;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
