%flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%secondary-typography-style {
  font-size: 14px;
  color: $secondary-color;
  font-weight: 700;
}