$main-color: #151515;
$secondary-color: #757575;
$detail-color: #ed1d23;
$secondary-detail-color: #ffffff;
$xlarge-breakpoint: 1024px;
$large-breakpoint: 880px;
$medium-breakpoint: 660px;
$small-breakpoint: 460px;
$xsmall-breakpoint: 360px;
$card-margin: 0 10px 40px;
$card-transition: all .2s;
$small-font-size: 14px;
$dark-mode-transition: .4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
$dark-mode-background-color: #2F3437;
$dark-mode-main-color: #E8E8E8;
$dark-mode-secondary-color: #C3CBD4;
