$main-color: #151515;
$secondary-color: #757575;
$detail-color: #ed1d23;
$secondary-detail-color: #ffffff;
$xlarge-breakpoint: 1024px;
$large-breakpoint: 880px;
$medium-breakpoint: 660px;
$small-breakpoint: 400px;
$card-margin: 0 10px 40px;
$card-transition: all .2s;
$small-font-size: 14px;