.pagination-container {
  display: flex;
  width: 200px;
  align-self: center;

  ul {
    @extend %flex-space-between-center;
    width: 100%;

    li {
      list-style: none;
      
      .pagination {
        @extend %flex-center-center;
        @include size(35px, 35px);
        font-size: 24px;

        i {
          color: $secondary-detail-color;
        }
      }
    }
  }
}