.search-form {
  @extend %flex-wrap;
  justify-content: space-between;
  align-items: flex-end;
  
  .fieldset {
    border: none;
  }

  .input-text {
    margin-bottom: 10px;

    label {
      position: relative;

      input[type=search] {
        border: none;
        border-bottom: 2px solid $main-color;
        padding: 8px 8px 8px 35px;
        font-size: 22px;
        width: 450px;

        @media (max-width: $medium-breakpoint) {
          width: 80%;
        }
      }

      .icon-container {
        position: absolute;
        top: 0;
        left: 8px;
      }
    }

    @media (max-width: $medium-breakpoint) {
      width: 100%;
    }
  }

  .selects-options {
    margin-bottom: 10px;
  
    label {
      @extend %secondary-typography-style;
      margin-right: 10px;

      select {
        border: none;
        padding-right: 5px;
        margin-left: 5px;
        font-size: 16px;
        font-weight: 900;
      }
    }
  }
}

.hidden {
  display: none;
}