.character-card {
  @include card-container(calc(100% / 5 - 2 * 10px));

  .character-img-container {
    border-bottom: 4px solid $detail-color;
    overflow: hidden;

    .character-img {
      @include card-img (100%, 100%, scale(1));
    }
  }

  .character-name {
    @include card-text(15px, 20px, 15px);
    height: 70px;
    background-color: $main-color;
    color: $secondary-detail-color;
  }

  &:hover {
    .character-img-container {
      .character-img {
        transform: scale(1.1);
      }
    }

    .character-name {
      background-color: $detail-color;
    }
  }

  @media (min-width: $xlarge-breakpoint) {
    width: calc(100% / 6 - 2 * 10px);
  }

  @media (max-width: $large-breakpoint) {
    width: calc(100% / 4 - 2 * 10px);
    .character-name {
      font-size: 12px;
    }
  }

  @media (max-width: $medium-breakpoint) {
    width: calc(100% / 3 - 2 * 10px);
    .character-name {
      font-size: 14px;
    }
  }

  @media (max-width: $small-breakpoint) {
    width: calc(100% / 2 - 2 * 10px);
  }

  @media (max-width: $xsmall-breakpoint) {
    width: 250px;
  }
}