.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @extend %flex-center-center;

  .loader {
    border: 8px solid transparent;
    border-top: 8px solid $detail-color;
    border-bottom: 8px solid $detail-color;
    border-radius: 50%;
    @include size(80px, 80px);
    animation: spin 1.5s linear infinite;
   
  }

  @keyframes spin {
    100% { transform: rotate(360deg); }
  }

}

.hidden {
  display: none;
}