.search-result {
  display: flex;
  margin: 40px 0;

  .search-img-container {
    flex: 1;
    display: flex;
    max-width: 350px;
    margin-right: 40px;

    img {
      @include size(100%, auto)
    }
  }

  .search-info {
    flex: 2;
    p {
      margin: 10px 5px 20px;
    }
  }

  @media (max-width: $medium-breakpoint) {
    flex-direction: column;
  }

}